@font-face {
    font-family: 'YsabeauSC';
    src: url('fonts/Ysabeau_SC/YsabeauSC-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    background: linear-gradient(to bottom,#f4f9e9,#7283cf);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Bebas Neue', sans-serif;
}

header {
    background-color: #284b63;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headtit {
    color: #b4b8ab;
    font-size: 3.5rem;
    padding: 20px 0;
    text-align: center;
}

.navig {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #284b63;
    z-index: 100;
    padding: 10px 10px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #284b63;
}

nav span {
    color: #b4b8ab;
    margin-right: 20px;
    text-align: center;
    font-size: 1.5rem;
    display: inline-block;
    border-bottom: 2px solid #284b63;
}

nav span:hover {
    color: #e7d530;
    border-bottom: 2px solid #e7d530;
    transition: ease 0.5s;
}

hr.separator {
    border: 0;
    border-top: 4px solid #e7d530;
    width: 80%;
    opacity: 0.5;
}

.Destination {
    text-align: center;
    padding: 2rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h3{
    margin: 0px;
}

.Destination h3 {
    font-size: 3rem;
    color: #284b63;
    margin-bottom: 1rem;
    font-family: 'Ysabeau SC', serif;
}

.Destination .subheading {
    font-size: 1.75rem;
    color: #3d3d3d;
    margin-bottom: 2rem;
    font-family: 'Bebas Neue', sans-serif;
}

.Destination-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.Destination-item {
    background-color: #fff;
    width: 300px;
    border-radius: 0.5rem;
    overflow: hidde;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Destination-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.Destination-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.Destination-content {
    padding: 1.5rem;
}

.Destination-content h3 {
    font-size: 1.75rem;
    color: #284b63;
    margin-bottom: 1rem;
    font-family: 'Ysabeau SC', serif;
}

.Destination-content p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1.5rem;
}

.btn {
    background-color: #e7d530;
    color: #fff;
    text-decoration: none;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #f4c10f;
    
}


a{
    all: unset;
}

a:hover{
    cursor: pointer;
}

footer{
    background-color: #153243;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 30px;
}


